@model Playground.Data.Organization;
@{
}
<div class="row">
    <div class="offset-7 float-right">
        <a class="btn btn-primary" href="/Organization/Index">Back To List</a>
        <a class="btn btn-primary" href="/Organization/AddFake">Add Fake</a>
        <a class="btn btn-primary" href="/Organization/Add100Fake">Add 100 Fake</a>
    </div>
    <br>
</div>

<form method="post" action="@Url.Action("Add", "Organization")">
    <div class="row mt-3">
        <div class="offset-3 col-6">
            <div class="card">
                <div class="card-body">
                    <h5>Add Organization</h5>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mission">Mission</label>
                        <textarea asp-for="Mission" class="form-control"></textarea>
                        <span asp-validation-for="Mission" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>