@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="../Scripts/Organization.js"></script>

<h1>Organizations</h1>

<div class="row">
    <div class="col">
        <table id="OrganizationTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>OrganizationId</th>
                    <th>Name</th>
                    <th>Mission</th>
                    <th>Created Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
